.selectRide {
	align-items: flex-end;
	font-size: 1.5em;
	font-weight: 500;
}

.rideOrder {
	font-weight: 100;
}

.listScroll {
	max-height: calc(100vh - 22rem);
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

@media (max-width: 576px) {
	.listScroll {
		max-height: calc(100vh - 32rem);
	}
}